.hero-section {
  display: flex;
  align-items: center;
  padding-top: 8%;
  padding-bottom: 8%;

  color: white;

  &__container {
    display: flex;
    position: relative;
    width: 80%;
    justify-content: space-between;
    z-index: 3;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;

    @media (min-width: 1024px) {
      flex-direction: row;
      text-align: left;
    }
  }
  &__title {
    width: 100%;
    @media (min-width: 1024px) {
      width: 45%;
    }
  }
  &__text {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2em;
  }
  &__scroll {
    padding-bottom: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    @media (min-width: 1024px) {
      padding-bottom: 0;
      align-items: center;
      justify-content: start;
    }
  }
}
