$backgroung-color: rgb(99, 98, 98);
$backgroung-gradient: linear-gradient(
  90deg,
  rgba(50, 49, 66, 1) 15%,
  rgba(29, 29, 31, 1) 49%,
  rgba(50, 49, 66, 1) 85%
);

$normal-fonts-size: 18px;

$line-height: 25px;

$color-white: #fff;
